$person: 'http://127.0.0.1:8000/static/person.jpg/';
$fashion: 'http://127.0.0.1:8000/static/fashion.jpg/';
$skateboarder: 'http://127.0.0.1:8000/static/skateboarder.jpg/';
$sport: 'http://127.0.0.1:8000/static/sport.jpg/';
$training: 'http://127.0.0.1:8000/static/training.jpg/';
$balancing: 'http://127.0.0.1:8000/static/balancing.jpg/';
$children: 'http://127.0.0.1:8000/static/children.jpg/';
@mixin for-phone-only {
    @media (max-width: 599px) { @content; }}
@mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }}
@mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }}
@mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }}
@mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }}
.home{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 4rem;
    background-color: white;
    &__box{
        position: relative;
        
    }
    &__container{
        display: flex;
        flex-basis: 100%;
        height: 100%;
        position: relative;
        &__box{
            position: absolute;
            bottom:35%;
            left:15%;
            width: 30%;
            height: 20%;
            
            @include for-phone-only {    
                bottom: 30%;
                left:20%;
                white-space: nowrap;
             }
            @include for-tablet-portrait-up{
                width: 400px;
                bottom:30%;
            }
            @include for-tablet-landscape-up{
                bottom:30%;
            }
            
        }
        
        &__title{
            flex-wrap: wrap;
            &__title{
                color:white;
                font-size: 2rem;
                @include for-phone-only {    
                    color:white;
                    font-size:1.2rem;
                    font-weight: 600;
                 }
            }
            &__buttons{
                @include for-phone-only {    
                    width:400px;
                 }
                 @include for-tablet-portrait-up{
                    width: 700px;
                 }
                button:hover{
                    cursor:pointer;
                    font-weight: 800;
                }
                button{
                    padding: 1rem;
                    margin-top: 0.5rem;
                    font-weight: 600;
                    @include for-phone-only {    
                        width:200px;
                        padding: 0.5rem;
                        margin-top: 0.5rem;
                        border: 1px solid black;
                        box-shadow: 3px 3px 3px 3px white;
                        margin-right: 1rem;
                        background-color: white;
                     }
                 }
                //  }
            }
            p{
                padding-top: 1rem;
                color: white;
                font-size: 1rem;
            }
            &__secondtitle{
                color:white;
                @include for-phone-only {    
                    color:white;
                    white-space: pre-wrap;
                    width: 400px;
                 }
                @include for-tablet-portrait-up{
                    margin-top: 1rem;
                }
            }
        }
        
        &__img{
            padding-top: 40px;
            object-fit: contain;
            height: 100%;
            width: 100%;
            margin-bottom: 0.2rem;

        }
    }
    &__twocontainers{
        display: flex;
        flex-basis: 100%;
        @include for-phone-only {    
            height: 500px;
            flex-wrap: wrap;
        }
        &__firstcontainer{
            display:flex;
            position: relative;
            width:40%;
            @include for-phone-only {    
                width:100%;
                height: 50%;
             }
             button:hover{
                cursor:pointer;
                font-weight: 800;
            }
            button{
                padding: 1rem;
                margin-top: 0.5rem;
                font-weight: 600;
                @include for-phone-only {    
                    width:200px;
                    padding: 0.5rem;
                    margin-top: 0.5rem;
                    border: 1px solid black;
                    box-shadow: 3px 3px 3px 3px white;
                    margin-right: 1rem;
                    background-color: white;
                 }
             }
            &__img{
                object-fit: contain;
                height: 100%;
                width: 100%;
                padding-bottom:0.2rem;
                @include for-phone-only {    
                    object-fit: cover; 
                 }
            }
            &__title{
                position: absolute;
                bottom: 15%;
                left: 15%;
                color: white;
                button{
                    padding: 1rem;
                    margin-top: 0.5rem;
                    min-width: 300px;
                    font-weight: 700;
                    font-size: 1rem;
                    width:30%;
                    border: 1px solid black;
                    box-shadow: 3px 3px 5px 6px white;}
            }
            &__box{
                position: absolute;
                bottom: 7%;
                
                color: white;
                @include for-tablet-portrait-up{
                    left:10%;
                }
                &__title{
                    font-size: 1.2rem;
                    font-weight: 700;
                }
                &__secondtitle{
                    font-size: 1rem;
                    font-weight: 500;
                }
                
                button:hover{
                    cursor:pointer;
                    font-weight: 800;
                }
                button{
                    padding: 1rem;
                    margin-top: 0.5rem;
                    font-weight: 600;
                    color:black;
                    @include for-phone-only {    
                        width:250px;
                        padding: 0.5rem;
                        margin-top: 0.5rem;
                        border: 1px solid black;
                        box-shadow: 3px 3px 3px 3px white;
                        margin-right: 1rem;
                        background-color: white;
                     }
                 }
                @include for-phone-only {    
                    right:10%;
                    height: 50%;
                }
            }
        }
        &__secondcontainer{
            display: flex;
            position: relative;
            width:60%;
            padding-bottom:0.2rem;
            @include for-phone-only {    
                width:100%;
                height: 50%;
             }
            &__img{
                // display: flex;
                padding: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                
                @include for-phone-only {    
                    height:100%;
                 }
                
                
                img{
                    width: 100%;
                    height: 100%;
                }
                
            }
            &__box{
                position: absolute;
                right: 10%;
                @include for-phone-only {    
                    bottom:7%;
                    left:10%;
                    font-size: 1.2rem;
                    font-weight: 500;
                 }
                 @include for-tablet-portrait-up{
                    bottom:7%;
                    font-size: 1.2rem;
                    font-weight: 500;
                 }
                 button:hover{
                    cursor:pointer;
                    font-weight: 750;
                }
                button{
                    padding: 1rem;
                    margin-top: 0.5rem;
                    font-weight: 600;
                    color:black;
                    white-space: nowrap;
                    @include for-phone-only {    
                        width:280px;
                        padding: 0.5rem;
                        margin-top: 0.5rem;
                        border: 1px solid black;
                        box-shadow: 3px 3px 3px 3px white;
                        margin-right: 1rem;
                        background-color: white;
                     }
                 }
                &__title{
                    
                    color:white;
                    width:200px;
                    @include for-phone-only {    
                        font-size: 1.2rem;
                        font-weight: 500;
                     }
                }
                
            }
            &__title{
                width: 30%;
                position: absolute;
                right: 30%;
                bottom: 30%;
                color: white;
            }
        }
    }
    &__fourcontainers{
        display: flex;
        flex-basis: 100%;
        
        &__first{
            &__img{
                object-fit: contain;
                height: 100%;
                width: 100%;
            }
            margin-right: 0.2rem;
        }
        &__second{
            &__img{
                object-fit: contain;
                height: 100%;
                width: 100%;
                margin-right: 0.2rem;
            }
            margin-right: 0.2rem;
        }
        &__third{
            &__img{
                object-fit: contain;
                height: 100%;
                width: 100%;
                margin-right: 0.2rem;
            }
            margin-right: 0.2rem;
        }
        &__fourth{
            &__img{
                object-fit: contain;
                height: 100%;
                width: 100%;
                
            }
            margin-right: 0.2rem;
        }
    }
    &__suggestions{
        display: flex;
        flex-basis: 100%;
        justify-content: center;
        padding-top: 2rem;
        margin-bottom: 2rem;
        flex-wrap: wrap;
        @include for-phone-only {    
            justify-content: space-around;
         }
        @include for-tablet-portrait-up{
            justify-content: space-around;
        }
    }
    &__register{
        display: flex;
        flex-basis: 100%;
        background-color: red;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        @include for-phone-only {    
            flex-direction: column;
            text-align: center;
            
         }
        &__button{
            @include for-phone-only {    
                margin-top: 1rem;
             }
        }
        &__title{
            text-align: center;
        }
        button{
            padding: 1rem;
            margin-top: 0.5rem;
            min-width: 300px;
            font-weight: 700;
            font-size: 1rem;
            width:30%;
            border: 1px solid black;
            box-shadow: 3px 3px 5px 6px white;}
        span{
            padding: 2rem;
            color: white;
            font-size: 2rem;
            
            @include for-phone-only {    
                padding-bottom: 1rem;
                margin-bottom: 1rem;
                
             }
        }
    }
}
