@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
$breakpoints: (
    mobile: (min-width: 320px),
    min-pads: (min-width: 481px),
    small-screen: (min-width: 769px),
    desktops: (min-width: 1025px),
    extra-large: (min-width: 1201px)
    );
    @mixin for-phone-only {
        @media (max-width: 599px) { @content; }}
    @mixin for-tablet-portrait-up {
        @media (min-width: 600px) { @content; }}
    @mixin for-tablet-landscape-up {
        @media (min-width: 900px) { @content; }}
    @mixin for-desktop-up {
        @media (min-width: 1200px) { @content; }}
    @mixin for-big-desktop-up {
        @media (min-width: 1800px) { @content; }}
    
    

@mixin mq($breakpoint){
    $size: map-get($breakpoints,$breakpoint);
    @if($size){
        @media #{$size}{
            @content;
        }
    }@else{
        @error '"#{$breakpoint}"- błąd';
    }
}
 

.itemcontainer{
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    width:100%;
    height:100%;
    position: relative;
    @include for-tablet-portrait-up{
        justify-content: center;
    }
    &__delivery{
        display:flex;
        position: absolute;
        top:0%;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: rgba($color: black, $alpha: 0.8);
        &__container{
            flex-wrap: wrap;
            margin: auto;
            background-color: white;
            color: black;
            display: flex;
            width: 1000px;
            height: 200px;
            padding: 2rem;
            font-size: 1rem;
            &-title{
                width: 80%;
            }
            &-close{
                width: 20%;
                display: flex;
                justify-content: end;
            }
            &-close:hover{
                cursor: pointer;
            }
        }
    }
    &__comments{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        
        margin-top: 2rem;
        background-color: #f3f3f3;
        padding-bottom: 2rem;
        &-title{
            display: flex;
            justify-content: center;
            width:60%;
            border: 1px solid rgb(221, 221, 221);
            border-radius: 5px;
            font-family: Montserrat, sans-serif;
            font-size: 2rem;
            font-weight: 400;
            padding: 1.5rem;
            color: rgb(55, 55, 55);
            background-color: white;
        }
        &-comms{
            display: flex;
            flex-wrap: wrap;
            width: 80%;
            margin: 0;
            margin-top: 1.5rem;
            font-family: Montserrat, sans-serif;
            font-size: 1.5rem;
            font-weight: 300;
            padding: 1.5rem;
            background-color: white;
            flex-wrap: wrap;
            &__image{
                display: flex;
                width: 100px;
                height: 100%;
                
            img{
                height: 80px;
                width: 80px;
                border-radius: 50%;
                // border: 1px solid rgb(221, 221, 221);
                object-fit: cover;
                }
            }
            &__container{
                display: flex;
                flex: wrap;
                width: 90%;
                flex-direction: column;
            }
            &__top{
                display: flex;
                width: 100%;
                height: 50%;
                font-size: 1.5rem;
                &-stars{
                    margin-bottom: 1rem;
                    margin-left: 2rem;
                }

            }
            &__body{
                display: flex;
                width: 100%;
                height: 50%;
                font-weight: 200;
                font-size: 1rem;
            }
            &__title{
                height: 50%;
                display: flex;
                width: 100%;
                
                
            }
            &__stars{
                display: flex;
                
            }
            &__description{
                display: flex;
                font-size: 14px;
                font-weight: 300;
                
            }
        }
    }

    &__breadcrumb{
        
        display: flex;
        width: 100%;
        background-color: #f3f3f3;
        height:50px;
    }
    &__image{
        position: relative;
        width:70%;
        // height: 600px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 6rem;
        margin-top: 2rem;
        align-content: flex-start;
        @include for-phone-only{
            width:100%;
        }
        img{
            width: 500px;
            height: 500px;
        }
        &__allimages{
            &-image:hover{
                cursor: pointer;
            }
            position: absolute;
            left:5%;
            img{
                height:100px;
                width:100px;
            }
        }
    }
    &__orderinformation{
        display: flex;
        flex-wrap: wrap;
        background-color: #f3f3f3;
        width: 30%;
        height:800px;
        padding-left: 2rem;
        padding-right: 4rem;
        @include for-phone-only{
            width: 100%;
        }
        @include for-tablet-portrait-up{
            width:100%;
        }
        @include for-tablet-landscape-up{
            width: 30%;
        }
       
        &__variants{
            display:flex;
            flex-direction: column;
            @include for-phone-only{
                width: 100%;
                align-items: center;
            }
            img{
                margin-left: 1rem;
                width: 70px;
                height: 70px;
            }
            &__images{
                display: flex;
            }
        }
        &__review{
            width: 100%;
            font-size: 1.5rem;
            font-weight: 700;
            display:flex;
            flex-direction: column;
            @include for-phone-only{
                justify-content: center;
                flex-direction: column;
                align-content: center;
                align-items: center;
            }
        }
        &__category{
            width:100%;
            font-size: 1.4rem;
        }
        &__name{
            width: 100%;
            font-size: 2rem;
            font-weight: 800;
            text-transform: uppercase;
            line-height: 1.6;
        }
        &__price{
            width: 100%;
            font-size: 1.3rem;
            font-weight: 200;
            
        }
        &__opinion{
            width:100%;
            font-size: 2rem;

        }
        &__default{
            width: 100%;
            color: red;
            &-first{
                font-size:2rem;
                font-weight: 900;
            }
        }
        &__buttons{
            flex-wrap: wrap;
            display: flex;
            width:100%;
            justify-content: space-between;
            height:120px;
            &__size{
                display: flex;
                width: 68%;
                height: 50px;
                position: relative;
                display: inline-block;
                font-weight: 800;
                color: #000;
                text-rendering: optimizeLegibility;
                text-transform: none;
                &__dropdown{
                    // display:none;
                    position: absolute;
                    background-color: #fff;
                    width:100%;
                    
                    
                }
                button{
                    cursor: pointer;
                    width:100%;
                    background-color: white;
                    height: 50px;
                    border-color: #000;
                    font-weight: 700;
                    font-family: PT Sans Narrow, Text,Arial ,Franklin Gothic Book,Arial,sans-serif;
                    font-style: normal;
                    font-size: 1.5rem;
                    
                    
                }
            }
            &__quantity{
                
                display: flex;
                width: 30%;
                height: 50px;
                position: relative;
                display: inline-block;
                &__dropdown{
                    // display:none;
                    overflow: auto;
                    position: absolute;
                    background-color: #fff;
                    width:100%;
                   
                    
                    
                    
                }
                button{
                    cursor: pointer;
                    width:100%;
                    background-color: white;
                    height: 50px;
                    border-color: #000;
                    font-weight: 700;
                    font-family: PT Sans Narrow, Text,Arial ,Franklin Gothic Book,Arial,sans-serif;
                    font-style: normal;
                    font-size: 1.5rem;
                }
            }
            &__add{
                display: flex;
                width: 100%;
                height: 50px;
                button{
                    cursor: pointer;
                    width:100%;
                    background-color: black;
                    height: 50px;
                    color:white;
                    font-weight: 700;
                    font-family: PT Sans Narrow, Text,Arial ,Franklin Gothic Book,Arial,sans-serif;
                    font-style: normal;
                    font-size: 1.5rem;
                }
            }
        }
        
    }
    &__recommendproducts{
        
        width:70%;
        &__title{
            display: flex;
            justify-content: center;
            margin-top: 2rem;
        }
        &__cards{
            display:flex;
            width: 100%;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        &__card{
            margin-right: 1rem;
            &__title{
                width: 100%;
            }
            img{
                width: 150px;
                height: 150px;
                

            }
        }
        &__card:hover{
            border: 1px solid black;
        }
    }
}
.sizelist{
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    // margin: 0 -5px -5px 0;
    // height: 100px;
    max-height: none;
    overflow-y: auto;
    padding: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
    list-style-type: none;
    justify-content: center;
    li{
        display: flex;
        flex-basis: 25%;
        cursor: pointer;
        font-size: 15px;
        margin-left: 0.7rem;
        margin-top: 1rem;
        padding: 1rem;
        border: solid 1px grey;
        justify-content: center;
        
    }
    li:hover{
        
        border-bottom: 2px solid black;
        
    }

}
.quantitylist{
    
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    // margin: 0 -5px -5px 0;
    max-height: none;
    overflow-y: auto;
    padding: 0;
    height:135px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
    list-style-type: none;
    justify-content: center;
    li{
        display: flex;
        flex-basis: 100%;
        cursor: pointer;
        font-size: 15px;
        // margin-left: 0.7rem;
        // margin-top: 1rem;
        padding: 0.8rem;
        border-top: solid 1px grey;
        border-bottom: solid 1px grey;
        // border: solid 1px grey;
        justify-content: center;
        
    }
    li:hover{
        
        border-bottom: 2px solid black;
        
    }
}