.shop-page{
    padding-top: 40px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.shop{
    
    margin-top: 2rem;
    display: flex;
    flex-basis: 80%;
    flex-wrap: wrap;
    &__bar{
        // width: calc(100% - 280px);
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        margin: 12px 0;
        
        &__choose{
            display: inline-block;
            position: relative;
            color: black;
            border: 1px solid #e5e5e5;
            margin-right: -1px;
            padding: 15px 50px 15px 20px;
            text-transform: initial;
            cursor: pointer;
            font-size: 0.9em;
            font-weight: 700;
            white-space: nowrap;
            &__list{
                display: block;
                position: fixed;
                border: 1px solid #e5e5e5;
                padding: 20px;
                z-index: 999;
                background: white;
                color:black;
                left: 10%;
                top: 27%;
            }
            &:hover{
                background-color: #0c66ff;
                color: white;
            }
        }
        &__type{
            display: inline-block;
            position: relative;
            color: black;
            border: 1px solid #e5e5e5;
            margin-right: -1px;
            padding: 15px 50px 15px 20px;
            text-transform: initial;
            cursor: pointer;
            font-size: 0.9em;
            font-weight: 700;
            white-space: nowrap;
            &:hover{
                background-color: #0c66ff;
                color: white;
            }
            &__list{
                display: block;
                position: fixed;
                border: 1px solid #e5e5e5;
                padding: 20px;
                z-index: 999;
                background: white;
                color:black;
                left: 15.8%;
                top: 27%;
            }
        }
        &__price{
            display: inline-block;
            position: relative;
            color: black;
            border: 1px solid #e5e5e5;
            margin-right: -1px;
            padding: 15px 50px 15px 20px;
            text-transform: initial;
            cursor: pointer;
            font-size: 0.9em;
            font-weight: 700;
            white-space: nowrap;
            &:hover{
                background-color: #0c66ff;
                color: white;
            }
            &__list{
                display: block;
                position: fixed;
                border: 1px solid #e5e5e5;
                padding: 20px;
                z-index: 999;
                background: white;
                color:black;
                left: 20.5%;
                top: 27%;
            }
        }
        &__sort{
            text-align: center;
            display: inline-block;
            position: relative;
            color: black;
            border: 1px solid #e5e5e5;
            margin-right: -1px;
            padding: 15px 50px 15px 20px;
            text-transform: initial;
            cursor: pointer;
            font-size: 0.9em;
            font-weight: 700;
            white-space: nowrap;
            &:hover{
                background-color: #0c66ff;
                color: white;
            }
            &__list{
                display: block;
                position: fixed;
                border: 1px solid #e5e5e5;
                padding: 20px;
                z-index: 999;
                background: white;
                color:black;
                left: 25.8%;
                top: 27%;
            }
        }
    }
    
    
}
.filter__box:hover > ul{
    display: block;
}